@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

.nav-bar a {
  position: relative;
  color: #555;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}


.nav-bar a:hover {
  color: #111;
}

.nav-bar a::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #2563eb;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.nav-bar a:hover::after {
  width: 100%;
}

.nav-bar a.active {
  color: #2563eb;
}

.nav-bar a.active::after {
  width: 100%;
  background-color: #2563eb;
}
